#leiteNinho:hover{
    width: 150%;
    
}

#beijinho:hover{
    width: 150%;
}

#bichoDePe:hover{
    width: 150%;
}
#churros:hover{
    width: 150%;
}
#crispy:hover{
    width: 150%;
}
#pistache:hover{
    width: 150%;
}
#sonhoValsa:hover{
    width: 150%;
}
#trufa:hover{
    width: 150%;
}
#trufaMorango:hover{
    width: 150%;
}
#brigaMorango:hover{
    width: 150%;
}
#brigaUva:hover{
    width: 150%;
}
#brigaLimao:hover{
    width: 150%;
}

